<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page-description}}">
    <meta name="author" content="Albert Latacz">

    <title>Albert Latacz / {{page-title}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">


    <script src="/js/jquery.js" type="text/javascript"></script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">
</head>
<body>

<div id="wrap">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#"><h2><b>Albert Latacz</b>&nbsp;&nbsp;/&nbsp;&nbsp;{{page-title}}</h2></a>

                <div class="nav-collapse collapse top-menu-fix">
                    <ul class="nav pull-right">
                        <li><a href="/java-repl">Java REPL</a></li>
                        <li><a href="/games">Games</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <br/>
            <br/>
            {{{page-content}}}
        </div>
    </div>

    <div id="push"></div>
</div>

<div id="footer">
    <div class="container" style="text-align: center">
        <a href="https://twitter.com/albertlatacz"><img src="/img/twitter2.png"/></a>
        <a href="https://github.com/albertlatacz"><img src="/img/octo2.png"/></a>
        <a href="http://uk.linkedin.com/in/alatacz"><img src="/img/linkedin.png"/></a>
    </div>
</div>

<script src="/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>