<div class="span12">
    <div class="offset1 span3 well">

        <h3 style="vertical-align:bottom;"><img src="img/edu-cat-icon.png"/>&nbsp;&nbsp;Edu Cat</h3>

        <p>
            EduCat are two simple and fun games for your toddler. Watch your little bundle popping
            as many shapes and balloons as possible, while bouncing to joyful music and sound effects.<br/>
        </p>

        <a href="https://itunes.apple.com/us/app/educat/id504119977" target="_blank">
            <img class="right" src="img/available-on-appstore-small.png"/>
        </a>
    </div>

    <div class="span4 well">
        <h3 style="vertical-align:bottom;"><img src="img/little-caveman-icon.png"/>&nbsp;&nbsp;Little Caveman</h3>

        <p style="text-align: justify">
            Go on the prehistoric quest destroying blocks and solving puzzles through five themed chapters, each
            featuring 21 challenging levels. Have more fun as new chapters included with free updates! <br/><br/>

        <div style="text-align: center">
            <iframe width="345" height="225"
                    src="http://www.youtube.com/embed/VP4tMNchO6c?html5=1&amp;rel=0&amp;autohide=1"
                    frameborder="0" allowfullscreen=""></iframe>
        </div>
        <br/>

        Use blocks with different materials and physical properties such as wood, stone or lava. Swing on the ropes,
        break
        the ice and send objects flying with exploding crystals. Enjoy funny story line and beautiful comics. Be
        rewarded by
        collecting items and be wallpapers along the way.
        </p>

        <a href="https://itunes.apple.com/us/app/little-caveman/id485826530" target="_blank">
            <img class="right" src="img/available-on-appstore-small.png"/>
        </a>
    </div>

    <div class="span3 well">
        <h3 style="vertical-align:bottom;"><img src="img/make-a-caveman-icon.png"/>&nbsp;&nbsp;Make a Caveman</h3>

        <p>
            Create a caveman version of you or your friend with this ultimate caveman customizer. Customize background,
            face, hands and clothes. Discover new crazy looks with random mode.
        </p>

        <a href="https://itunes.apple.com/us/app/make-a-caveman/id493873233" target="_blank">
            <img class="right" src="img/available-on-appstore-small.png"/>
        </a>
    </div>
</div>