<div class="offset1 span10">
    <p>
        Glue PDFs is a simple web app written in Scala that allows merging PDF documents using different strategies.
        The main motivation behind it was to quickly collate documents after they had been scanned using simplex (one side)
        scanner with document feeder. When scanning with simplex scanner, we are left with one document containing odd pages
        and another with even pages only (often in reverse order). Glue PDFs solves the problem of merging both documents together.
    </p>

</div>